# Exemplo de configurações de e-mail (Copie para .env e preencha)
SMTP_TOKEN=seu_token_aqui
SMTP_REMETENTE=email_autorizado@dominio.com.br
SMTP_DESTINATARIO=comercial@dominio.com.br
SMTP_ASSUNTO=Novo Cadastro - Portal
